* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  width: 100vw;
  margin: 0 auto;
}

form {
  padding-top: 30px;
  text-align: center;
}

span {
  user-select: none;
}

.flex-container {
  display: flex;
  justify-content: space-around;

  padding-top: 20px;
}

.todolist {
  width: 30%;
}

.green {
  border: 3px solid #0f0;
}

.yellow {
  border: 3px solid #fb0;
}

.red {
  border: 3px solid #f00;
}

li {
  margin: 5px;
  padding: 5px;
  height: 20px;
  background-color: #fafafa;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: all 0.3s ease-in-out;

}

.title {
  line-height: 20px;
  height: 30px;
  text-align: center;
  user-select: none;
}

.hide {
  overflow: hidden;
  height: 0;
  margin: 0;
  opacity: 0;
  width: 0;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  transition: all 0.3s ease-in-out;
}
