* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  width: 100vw;
  margin: 0 auto;
}

form {
  padding-top: 30px;
  text-align: center;
}

span {
  user-select: none;
}


img {
  display: inline-block;
  float: right;
  width: 14px;
}

input[type="checkbox"]:hover, label, button, .title {
  cursor: pointer;
}

img {
  user-select: none;
}

img:hover {
  opacity: .5;
  cursor: pointer;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
}

.todolist {
  min-width: 300px;
  width: 33vw;
}

.green {
  border: 3px solid #0f0;
}

.yellow {
  border: 3px solid #fb0;
}

.red {
  border: 3px solid #f00;
}

.title {
  line-height: 20px;
  height: 30px;
  text-align: center;
  user-select: none;
}

span {
  margin-left: 10px;
}

li {
  margin: 5px;
  padding: 5px;
  height: 25px;
  background-color: #fafafa;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: all .4s ease-in-out;
}

.hide {
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  opacity: 0;
  transition: all .2s ease-in-out;
}
