* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    width: 100vw;
    margin: 0 auto;
}

form {
    padding-top: 30px;
    text-align: center;
}

span {
    user-select: none;
}

.flex-container {
    display: flex;
    justify-content: space-around;

    padding-top: 20px;
}

.todolist {
    min-height: 100px;
    width: 30%;
}

.green {
    border: 3px solid #0f0;
}

.yellow {
    border: 3px solid #fb0;
}

.red {
    border: 3px solid #f00;
}